.dialog-manual-management-title{
    width: 40%;
}

.dialog-manual-management-content{
    padding: 0px !important;
    font-size: 12px;
}

.dialog-categories-management-title{
    width: 20%;
}

.dialog-categories-management-content{

}

.dialog-categories-management-3th{
    width: 18%;
}



